* {
	font-family: 'Montserrat', sans-serif;
	--accent: #3FA9F5;
	--back: #f3f2f2;
}

.mr-auto {
	margin-right: auto;
}

body {
	margin: 0;
}


/* NAVBAR */
.navbar {
	display: flex;
	align-items: center;
	gap: 1.25em;
	border-bottom: 3px solid var(--accent);
	padding: .5em;
	max-height: 3em;
	background-color: white;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar .header {
	font-size: 1.5em;
	margin-right: auto;
}

.navbar img,
.logo {
	width: 2em;
	height: 2em;
}

.email {
	transition: 0.5s;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.navbar .email:hover {
	color: var(--accent);
}


/* PAGE CONTENT */
.page {
	display: flex;
	flex-direction: column;
	gap: 3em;
	margin-top: 3em;
	margin-bottom: 3em;
}

.block {
	padding: 2em;
	background-color: var(--back);
}

.block h1 {
	margin-bottom: 2em;
}

.footer {
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}


/* INDIVIDUAL PROJECT */
.project {
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
	flex-direction: row;
	height: 60%;
	gap: 2em;
	align-items: flex-start;
}

.top img {
	max-width: 25%;
	object-fit: contain;
}

.text {
	font-size: 1.9em;
	margin: 0;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	gap: 1em;
	overflow-x: scroll;
	border-top: 2px solid #dddddd;
	margin-top: 2em;
	padding-top: 2em;
}

.bottom img {
	object-fit: contain;
	max-height: 30em;
	
}


/* BOTTOM SCROLLBAR */
.bottom::-webkit-scrollbar {
	width: 6px;
}
.bottom::-webkit-scrollbar-track {
	background: var(--back);
}
.bottom::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: 20px;
	border: 6px solid var(--back);
}


@media screen and (max-width: 640px) {
	.max-640 {
		display: none;
	}

	.footer {
		display: flex;
	}

	.text {
		font-size: 1.2em;
	}
}