* {
	font-family: 'Montserrat', sans-serif;
	--accent: #3FA9F5;
	--back: #f3f2f2;

	scroll-margin-top: 3em;
	scroll-snap-margin-top: 3em;
}

.mr-auto {
	margin-right: auto;
}

body {
	margin: 0;
}


/* NAVBAR */
.navbar {
	display: flex;
	align-items: center;
	gap: 1.25em;
	border-bottom: 3px solid var(--accent);
	padding: .5em;
	max-height: 3em;
	background-color: white;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar .header {
	font-size: 1.5em;
	margin-right: auto;
}

.navbar img,
.logo {
	width: 2em;
	height: 2em;
}

.email {
	transition: 0.5s;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.navbar .email:hover {
	color: var(--accent);
}


/* PAGE CONTENT */
.project-text {
	text-align: center;
}

.project-btn {
	height: 15vw;
	width: 15vw;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10%;
}

.button-grps {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2em;
	align-items: flex-start;
}

.page {
	display: flex;
	flex-direction: column;
	gap: 3em;
	margin-top: 3em;
	margin-bottom: 3em;
}

.block {
	padding: 2em;
	background-color: var(--back);
}

.block h1 {
	margin: 0;
	margin-bottom: 1em;
}

.footer {
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}


/* INDIVIDUAL PROJECT */
.project {
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
	flex-direction: row;
	height: 60%;
	gap: 2em;
	align-items: flex-start;
}

.top img {
	max-width: 25%;
	object-fit: contain;
}

.text {
	font-size: 1.9em;
	margin: 0;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	gap: 1em;
	overflow-x: scroll;
	border-top: 2px solid #dddddd;
	margin-top: 2em;
	padding-top: 2em;
}

.bottom img {
	object-fit: contain;
	max-height: 30em;
}


/* BOTTOM SCROLLBAR */
.bottom::-webkit-scrollbar {
	width: 6px;
}
.bottom::-webkit-scrollbar-track {
	background: var(--back);
}
.bottom::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: 20px;
	border: 6px solid var(--back);
}


/* DIALOG */
.dialog {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: #000000b5;
	display: none;
	align-items: center;
	justify-content: center;
}

.dialog img {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 0 10px 0px #000000b5;
	background-color: white;
}


@media screen and (max-width: 640px) {
	.max-640 {
		display: none;
	}

	.project-btn {
		height: 15vw;
		width: 15vw;
	}

	.footer {
		display: flex;
	}

	.text {
		font-size: 1.2em;
	}

	.top {
		flex-direction: column;
	}

	.top img {
		max-width: 100%;
		object-fit: scale-down;
	}

	.bottom img {
		object-fit: contain;
		max-height: 15em;
	}
}